@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 71% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 80 61% 52%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 197 71% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 0% 20%; /* #333333 */
    --foreground: 0 0% 98%;
    --card: 20 0% 25%;
    --card-foreground: 0 0% 98%;
    --popover: 20 0% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 78% 52%; /* #29ABE2 */
    --primary-foreground: 0 0% 10%;
    --secondary: 20 0% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 0% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 80 61% 52%; /* #9ACD32 */
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 0% 30%;
    --input: 20 0% 30%;
    --ring: 197 78% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
